{% extends parent_template|default:"base.html" %}

    {% block content %}
<head>
<style type="text/css">
	div#del {
		    	width: 860px;
			    height: 600px;
			    margin: 0 auto;

		    }

</style>
	<div id="del">


</head>
	<body>
		<h1>Delete Feature</h1>
		<form method="POST">
			Are you sure you want to delete this feature?
			<p/>
			<button type="submit" name="confirm"
					value="1">Delete</button>
			&nbsp;
			<button type="submit" name="confirm"
					value="0">Cancel</button>
		</form>
	</body>
</html>
</div>
{% endblock %}