{% extends parent_template|default:"base.html" %}


    {% block content %}
<head>
		<style type="text/css">

		    div#wrapper2 {
		    	width: 860px;
			    height: 600px;
			    margin: 0 auto;

		    }


		</style>
    </head>

    <div id="wrapper2">
        {% if shapefiles %}
        <div id="table" class="table">
        <h2>Available Shapefiles:</h2>
        
        <table border="0" cellspacing="0" cellpadding="5"
            style="padding-left:20px">
            {% for shapefile in shapefiles %}
            <tr>
                <td><font style="font-family:monospace">{{ shapefile.filename }}</font></td>
                <td>&nbsp;</td>
                <td>
                    <a href="/shape-editor/edit/{{ shapefile.id }}">
                        Edit
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="/shape-editor/export/{{ shapefile.id }}">
                        Export
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="/shape-editor/delete/{{ shapefile.id }}">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        </div>
        </br>
        <div style="margin: 0 auto">
        <button type="button "
            onClick='window.location="/shape-editor/import";'>
            Import New Shapefile
        </button>
        </div>
        </div>
        
    {% endblock %}
    